body{
    background-attachment:fixed ;
    background-image:url("./img/background3.svg");
    background-size:contain;
    background-repeat:no-repeat;
   
}

h1 {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

a { 
    color: #18191F; 
}

.chatroom_container {
 padding-top: 20px;
 padding-bottom: 40px;
 width: 95vw;
 padding-left: 15px;
 height: 100%;
 display: flex;
 flex-flow: column;
 align-items:center;

}

.title {
    align-self: start;
    margin-bottom: 20px;
    margin-left:6vw;
    width: 13rem;
    height: 3rem;
    padding: 10px;
    border: none;
    background-color: #FEB930;
    border-radius: 8px;
    overflow: hidden;
 
}
h2 {
    text-align: center;
    font-size: 24px;
}

h4 {
    font-size: large;
}

h5 {
    font-size: 12px;
    font-weight: 800;
}
.chatroom {
    position: relative;
    width: 80vw;
    background-color: #FFF5D6;
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    border-style: solid;
    border-color:#FEB930;
    border-radius: 8px;
}

.chatroom img {
    position: absolute;
    top:10px;
    right: 10px;
}

.morerooms {
    background-color: #FEB930;
    margin-bottom: 20px;
    width: 6rem;
    padding: 10px;
    align-self:start;
    margin-left:6vw;
    border-style: none;
    border-radius: 8px;
}

.morerooms h5 {
    text-align: center;
}

.button_container {
    padding-bottom: 40px;
    width: 95vw;
    padding-left: 15px;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content:flex-end;   
}
.newroom {
    width: 11rem;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 70px;
    background-color:#1664FF;
    border-radius: 8px;
    
}

.newroom a {
    color: #ffffff;
}
.newroom h3 {
    font-size: 16px;
    text-align: center;
}

/*  media queries */

@media (min-width: 800px) {
    /*from 800px*/
    h1 {
        display: block;
        margin-top: 20px;
    
    }

    .title {
        align-self: center;
    }
    .chatroom, .button_container {
        text-align: center;
    }

    .morerooms {
        margin-left: 7vw;
    }
    .newroom {
        margin-right: 7vw;
    }
  }