*{

.nav_icon {
    color: #18191f;
  }
  
  .nav_link {
    color: #18191f;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .nav_list,
  .nav_link {
    display: flex;
  }
  
  .nav_link {
    flex-direction: column;
    align-items: center;
  }
  
  .nav_list {
    align-items: center;
    justify-content: space-around;
    height: 80px;
  }
  
  .section_title {
    text-align: center;
  }
  
  .section_height {
    height: 100vh;
  }
  
  
  
  .nav_menu {
    background-color: #f3f4f6;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    z-index: 1000;
  
  }
  
  .nav_icon:active {
    color: #feb930;
  }
  
  @media screen and (max-width: 2200px) {
    .nav_icon {
      width: 35px;
      height: 35px;
      transition: all 0.5s ease;
    }
    .nav_list {
      transition: all 0.5s ease;
    }
  }
  .nav_link.active {
    fill: #feb930;
  }
  
  .nav_link.active .nav_icon {
    fill: #feb930;
  }
  
  @media screen and (max-width: 300px) {
    .nav_name {
      display: none;
    }
  
    .nav_icon {
      width: 20px;
      height: 20px;
    }
  
    .nav_list {
      height: 50px;
      transition: all 0.5s ease;
    }
  }
}